* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  loading: lazy;
  object-fit: contain;
}
button{
  all: unset;
  outline: none;
  border: none;
  cursor: pointer;
}
input{
  all: unset;
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 3px 0 3px 6px;
  margin-bottom: 8px;
}
input:focus{
  border: 3px solid lightblue;
}
label{
  padding: 3px
}